<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>TeCaSa - Insert</title>
</head>
<body>
<h3>Insert:</h3>
<form action="#" th:action="@{/insertar}" th:object="${workshop}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="author">Author</label>
 <select type="text" th:field="*{author}" id="author">
    <option value="Rick Sanchez">Rick Sanchez</option>
    <option value="Morty Smith">Morty Smith</option>
    <option value="Summer Smith">Summer Smith</option>
    <option value="Beth Smith">Beth Smith</option>
    </select>

    
    <br/>
        <label for="category">Category</label>
        <select name="category" id="category" th:field="*{category}" >
            <option th:each="entry : ${categories}" th:value="${entry.name}" th:text="${entry.name}"></option>
        </select>
    <br/>
     <br/>
    <label for="keywords">Keywords</label>     <br/>
    <input type="text" th:field="*{keywords}" id="keywords">
 
  
     <input type="submit" value="Add Workshop">   
</form>

</body>
</html>